@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

html {
  background: linear-gradient(-45deg, #7769DD,  #201289 ,#5948D5, #3526A6) no-repeat fixed;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

p {
  line-height: 1.5em;
}

a {
  color: aliceblue;
  font-style: italic;
}

ul {
  padding: 0 0 0 15px;
}

h1, h2, h3 , h4, h5, h6 {
  font-style: italic;
  margin: 0
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #201289;

}

::-webkit-scrollbar-thumb {
  background: #7769DD;
}

::-webkit-scrollbar-thumb:hover {
  background: #5948D5;
}